{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <div>
        <h3>А тут ничо нет ¯\_(ツ)_/¯</h3>
    </div>
    <img src="/images/404.jpg" alt="" style="height: 200px; border-radius: 8px">
</div>


{% endblock %}