{% extends "__layout.twig" %}
{% from "macros.html.twig" import btn %}


{% block content %}
	<h1>{{title}}</h1>
	<ul class="nav nav-pills my-3">
		<li class="nav-item">
			{{ btn("Картинка", '/brands-object/' ~ id ~ '/image', is_imgActive) }}
		</li>
		<li class="nav-item">
			{{ btn("Описание", '/brands-object/' ~ id ~ '/info', is_infoActive) }}
		</li>
	</ul>

    <ul class="list-group">
		<li class="list-group-item">
            {% block objectContent %}
            Выберите пункт меню
            {% endblock %}
        </li>
	</ul>
    
	

{% endblock %}
